doctype html 
html
    head 
        title=title
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
        link(rel="stylesheet", href="/stylesheets/style.css")
    if pageOwner 
        body.userPage.text-center.p-3(style=`background-color: ${pageOwner.bg}; color: ${pageOwner.text}`)
                if pageOwner.displayName
                    h1.mt-3=pageOwner.displayName
                    h2=`@${pageOwner.username}`
                else 
                    h1.mt-3=pageOwner.username
                p=pageOwner.description
                .links-container.container 
                    .justify-content-md-center.row
                        each link in pageOwner.links
                            a.page-link-a.col-s-12.col-md-10.p-2.m-3(href=link.link style=`color: ${link.text}` target='_blank')
                                .page-link(style=`background-color: ${link.bg}; color: ${link.text}`) 
                                    h3=link.title 
    else 
        body
            h1 No one owns this tag.